services:
  app:
    build:
      dockerfile: Dockerfile
    container_name: app
    ports:
        - "5173:5173"
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - default-network

  db:
    image: postgres:17-bookworm
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mari-fun
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - default-network
  web:
    image: nginx:alpine3.20
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - default-network

networks:
  default-network:
    driver: bridge

volumes:
  postgres-data:
