// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
    background: $body-bg;
}
.shadow {
    box-shadow: 0px 0rem 3rem #000 !important;
}

.carousel-item, .slide-image {
    height: 600px;
}

.carousel-caption {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
    .carousel-item, .slide-image {
        height: 300px;
    }
}
