// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
    background: $body-bg;
}
.shadow {
    box-shadow: 0px 0rem 3rem #000 !important;
}
