// Body
$body-bg: #9a2ecd;
$dark: black;
$gradient: linear-gradient(180deg, rgba(white, .15), rgba(white, 0));


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
